{% set currentView = fsc.getCurrentView() %}
{% set dataPage = currentView.model  %}
{% set categories = fsc.getCategories()  %}
{% set images = fsc.getImages()  %}
{% set headers = fsc.getHeaders()  %}
{% set sidebars = fsc.getSidebars()  %}
{% set footers = fsc.getFooters()  %}

<form id="formEditMember" method="post" enctype="multipart/form-data">
    {% if dataPage.idpage %}
        <input type="hidden" name="action" value="edit">
    {% else %}
        <input type="hidden" name="action" value="insert">
    {% endif %}

    <input type="hidden" name="type" value="Member">
    <input type="hidden" name="activetab" value="EditMember">
    <input type="hidden" name="code" value="{{ dataPage.idpage }}">
    <input type="hidden" name="multireqtoken" value="{{ fsc.multiRequestProtection.newToken() }}"/>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="card">
                    <div class="card-header">
                        {{ i18n.trans('content') }}
                    </div>
                    <div class="card-body">
                        <div id="content" class="codemirror htmlEditor">
                            <textarea class="d-none" name="content"></textarea>
                            <code class="d-none">{{ dataPage.content }}</code>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('page-css') }}
                    </div>
                    <div class="card-body">
                        <div id="pagecss" class="codemirror cssEditor">
                            <textarea class="d-none" name="pagecss"></textarea>
                            <code class="d-none">{{ dataPage.pagecss }}</code>
                        </div>
                        <small class="form-text text-muted">{{ i18n.trans('page-css-help') }}</small>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('javascript-head') }}
                    </div>
                    <div class="card-body">
                        <div id="pagejshead" class="codemirror jsEditor">
                            <textarea class="d-none" name="pagejshead"></textarea>
                            <code class="d-none">{{ dataPage.pagejshead }}</code>
                        </div>
                        <small class="form-text text-muted">{{ i18n.trans('javascript-head-help') }}</small>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('javascript-footer') }}
                    </div>
                    <div class="card-body">
                        <div id="pagejsfooter" class="codemirror jsEditor">
                            <textarea class="d-none" name="pagejsfooter"></textarea>
                            <code class="d-none">{{ dataPage.pagejsfooter }}</code>
                        </div>
                        <small class="form-text text-muted">{{ i18n.trans('javascript-footer-help') }}</small>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('page-meta') }}
                    </div>
                    <div class="card-body">
                        <div id="pagemeta" class="codemirror htmlEditor">
                            <textarea class="d-none" name="pagemeta"></textarea>
                            <code class="d-none">{{ dataPage.pagemeta }}</code>
                        </div>
                        <small class="form-text text-muted">{{ i18n.trans('page-meta-help') }}</small>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header">
                        {{ i18n.trans('general') }}
                    </div>
                    <div class="card-body">
                        <div class="form-group pagetitle">
                            <label>{{ i18n.trans('name') }}</label>
                            <input type="text" class="form-control" name="title" maxlength="60" value="{{ dataPage.title }}" required>
                        </div>

                        <div class="form-group pagepermalink">
                            <label>{{ i18n.trans('permalink') }}</label>
                            {% set link = dataPage.permalink|split('/') %}
                            <input type="text" class="form-control" name="permalink" value="{{ link|last }}" required>
                            <a target="_blank" href="{{ fsc.getSiteUrl() ~ dataPage.permalink }}">{{ fsc.getSiteUrl() ~ dataPage.permalink }}</a>
                        </div>

                        <div class="form-group pagedescription">
                            <label>{{ i18n.trans('description') }}</label>
                            <textarea class="form-control" name="description" maxlength="150">{{ dataPage.description }}</textarea>
                        </div>

                        <hr class="pageseparate" />

                        <div>
                            <div>{{ i18n.trans('creation-date') }}: {{ dataPage.creationdate }}</div>
                            <div>{{ i18n.trans('updated-date') }}: {{ dataPage.lastmod }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {% if dataPage.idpage != '' %}
                                    <button type="button" class="btn btn-sm btn-danger" onclick="editViewDelete('EditMember');">
                                        <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                                        <span class="d-none d-sm-inline-block">{{ i18n.trans('delete') }}</span>
                                    </button>
                                {% endif %}
                            </div>

                            <div class="col-12 col-md-6 text-right">
                                <button class="btn btn-sm btn-primary" type="submit">
                                        <i class="fas fa-save fa-fw" aria-hidden="true"></i>
                                        <span class="d-none d-sm-inline-block">{{ i18n.trans('save') }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('advanced') }}
                    </div>
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="noindex" name="noindex" value="1" {{ (dataPage.noindex) ? 'checked' : '' }}>
                            <label class="form-check-label" for="noindex">{{ i18n.trans('no-index') }}</label>
                        </div>

                        <div class="form-group mt-2">
                            <label>{{ i18n.trans('page-classbody') }}</label>
                            <input type="text" class="form-control" name="classbody" value="{{ dataPage.classbody }}">
                        </div>

                        <div class="form-group">
                            <label>{{ i18n.trans('page-idbody') }}</label>
                            <input type="text" class="form-control" name="idbody" value="{{ dataPage.idbody }}">
                        </div>

                        <div class="form-group">
                            <label>{{ i18n.trans('page-width') }}</label>
                            <select class="form-control" name="pagewidth">
                                <option value="-1" {{ (dataPage.pagewidth == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit') }}</option>
                                <option value="container" {{ (dataPage.pagewidth == 'container') ? 'selected' : '' }}>Container</option>
                                <option value="container-sm" {{ (dataPage.pagewidth == 'container-sm') ? 'selected' : '' }}>Container sm</option>
                                <option value="container-md" {{ (dataPage.pagewidth == 'container-md') ? 'selected' : '' }}>Container md</option>
                                <option value="container-lg" {{ (dataPage.pagewidth == 'container-lg') ? 'selected' : '' }}>Container lg</option>
                                <option value="container-fluid" {{ (dataPage.pagewidth == 'container-fluid') ? 'selected' : '' }}>Container fluid</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>{{ i18n.trans('image-default') }}</label>
                            <select class="form-control" name="idfile">
                                {% for image in images %}
                                    {% set check = (dataPage.idfile == image.code) ? 'selected' : '' %}
                                    <option value="{{ image.code }}" {{ check }}>{{ image.description }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>{{ i18n.trans('category') }}</label>
                            <select class="form-control" name="idcategory" required>
                                {% for category in categories %}
                                    {% set check = (dataPage.idcategory == category.idcategory) ? 'selected' : '' %}
                                    <option value="{{ category.idcategory }}" {{ check }}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('page-custom-head') }}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <select class="form-control" name="idheader">
                                <option value="-1" {{ (dataPage.idheader == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit') }}</option>
                                <option value="0" {{ (dataPage.idheader == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                                {% for header in headers %}
                                    {% set check = (dataPage.idheader == header.idheader) ? 'selected' : '' %}
                                    <option value="{{ header.idheader }}" {{ check }}>{{ header.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('page-custom-title') }}
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="pagetitle">
                            <option value="-1" {{ (dataPage.pagetitle == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit') }}</option>
                            <option value="0" {{ (dataPage.pagetitle == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                            <option value="1" {{ (dataPage.pagetitle == '1') ? 'selected' : '' }}>{{ i18n.trans('show') }}</option>
                        </select>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('page-custom-sidebar') }}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <select class="form-control" name="idsidebar">
                                <option value="-1" {{ (dataPage.idsidebar == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit') }}</option>
                                <option value="0" {{ (dataPage.idsidebar == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                                {% for sidebar in sidebars %}
                                    {% set check = (dataPage.idsidebar == sidebar.idsidebar) ? 'selected' : '' %}
                                    <option value="{{ sidebar.idsidebar }}" {{ check }}>{{ sidebar.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="sidebarposition">
                                <option value="1" {{ (dataPage.sidebarposition == '1') ? 'selected' : '' }}>{{ i18n.trans('left') }}</option>
                                <option value="2" {{ (dataPage.sidebarposition == '2') ? 'selected' : '' }}>{{ i18n.trans('right') }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        {{ i18n.trans('page-custom-footer') }}
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="idfooter">
                            <option value="-1" {{ (dataPage.idfooter == '-1') ? 'selected' : '' }}>{{ i18n.trans('inherit') }}</option>
                            <option value="0" {{ (dataPage.idfooter == '0') ? 'selected' : '' }}>{{ i18n.trans('hidden') }}</option>
                            {% for footer in footers %}
                                {% set check = (dataPage.idfooter == footer.idfooter) ? 'selected' : '' %}
                                <option value="{{ footer.idfooter }}" {{ check }}>{{ footer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
    <script>
        function editViewDelete(viewName) {
            bootbox.confirm({
                title: "{{ i18n.trans('confirm-delete') }}",
                message: "{{ i18n.trans('are-you-sure') }}",
                closeButton: false,
                buttons: {
                    cancel: {
                        label: '<i class="fas fa-times"></i> {{ i18n.trans('cancel') }}'
                    },
                    confirm: {
                        label: '<i class="fas fa-check"></i> {{ i18n.trans('confirm') }}',
                        className: "btn-danger"
                    }
                },
                callback: function (result) {
                    if (result) {
                        $("#form" + viewName + " :input[name=\"action\"]").val("delete");
                        $("#form" + viewName).submit();
                    }
                }
            });
            return false;
        }

        function changeSidebar() {
            if ($('select[name="idsidebar"] option:selected').val() > 0) {
                $('select[name="sidebarposition"]').show();
            } else {
                $('select[name="sidebarposition"]').hide();
            }
        }

        $('select[name="idsidebar"]').on('change', function(){
            changeSidebar();
        });
        
        changeSidebar();

        $(document).ready(function(){
            if ($('#formEditMember input[name="action"]').val() == 'edit') {
                $('.pagetitle, .pagepermalink, .pagedescription, .pageseparate').hide();
            }
        });
    </script>
{% endblock %}